
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #f5f4fa;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --background-color: #F5F5F5;
    --secondary-text-color: #ffffff;
    --primary-font-size: 16px;
    --secondary-font-size: 14px;
    --primary-leter-spase: 0.03em;
    --primary-font-weight: 500;
    --logo-secondary-color: #000000;
}


    /*Глобальні стилі*/

    /* Body,primary-background-colr,primary-text-color*/
    .page {
        font-family: 'Roboto', sans-serif;
        font-size: var(--secondary-font-size);
        letter-spacing: var(--primary-leter-spase);
        line-height: 1.71;
        color: var(--primary-text-color);
        background-color: var (--primary-background-color);

    }


    /* Загалні розміи та позицінування*/

    .container {
        width: 1200px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Скидання стилів списку*/
    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    /* Скидання стилів посилання*/
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    
        ul,
        ol {
            margin: 0;
            padding-left: 0;
        }
    
        button {
            cursor: poilister;
        }
    
        address {
            font-style: normal;
        }
    
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    
        
       
    
    .link {
        text-decoration: none;
        font-style: normal;
        color: inherit;
    }

        .logo {
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 26px;
            line-height: 1.2;
            color: var(--primary-accent-color);
            text-decoration: none;
        }
    
        span.logo-color {
            color: #000000;
        }
    
        span.footer-logo-color {
            color: var(--secondary-text-color);
        }

/* Ховаю скритий заголовок*/
        .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


        
        
            

    /* Основний стиль кнопки*/
    .button {
        display: inline-block;
        min-width: 73px;
        min-height: 38px;
        padding: 0px 22px;
        border: none;
        border-radius: 4px;
        font-family: inherit;
        font-weight: var(--primary-font-weight);
        font-size: var(--primary-font-size);
        line-height: 1.62;
        letter-spacing: var(--primary-leter-spase);
        cursor: pointer;
    }


.button.primary {
    color: var(--secondary-text-color);
    background-color: var(--primary-accent-color);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-accent-color);
}

.button.secondary:hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-accent-color);
}

.button.active {
    background-color: var(--primary-accent-color);
    color: var(--secondary-text-color);
}

/* Header*/
.header {
padding: 24px 0;
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   }

.header .site-nav {
    display: flex;
    align-items: center;
}

.header .site-nav .list {
    display: flex;
}

.header .contact-list {
    display: flex;
}

.header .site-nav .link.link.logo {
    margin-right: 93px;
}

.header .site-nav .list .item:not(:last-child) {
    margin-right: 50px;
}

.header .contact-list .item:not(:last-child) {
    margin-right: 50px;
}

/* Навігаційні посилання*/
.header .site-nav .link.page {
    font-weight: var(--primary-font-weight);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header .site-nav .link.page:hover,
.header .site-nav .link.page:focus {
    color: var(--primary-accent-color);
}

.header .site-nav .link.page.current {
    color: var(--primary-accent-color);
}

/* Стиль для контактів*/
.header .contact-list .link {
    font-weight: var(--primary-font-weight);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header .contact-list .link:hover {
    color: var(--primary-accent-color);
}



/* MAIN*/


/*Основний заголовок секції*/
.main .section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

/*HERO*/
.main .section.hero {
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(
    
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ) ,
    url(../images/herophoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

/*HERO title*/
.main .section.hero .hero-title {
    display: block;
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

/* HERO button*/
.main .section.hero .button.primary {
    padding: 0px 32px;
    height: 50px;
    font-weight: 700;
    font-size: var(--primary-font-size);
    line-height: 1.88;
    letter-spacing: 0.06em;
}

    /*Переваги*/

    .main .section.benefits {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .main .section.benefits .section-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    /* список переваг*/
    .main .section.benefits .benefits-list {
        display: flex;
    }

    .main .section.benefits .benefits-list .item {
       width: 270px;
        margin-right: 30px;
    }

    .main .section.benefits .benefits-list .item:last-child {
        margin-right: 0;
    }

    .main .section.benefits .benefits-list .title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: var(--secondary-font-size);
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--title-text-color);
    }

    .main .section.benefits .benefits-list .description {
        margin: 0;
    }

.benefits-description {
    margin: 0;
}

    /* Приклади робіт*/
    .main .section.work-examples {
        padding-bottom: 94px;
    }

    .main .section.work-examples .section-title {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .main .section.work-examples .list.work-list {
        display: flex;
        justify-content: space-between;
    }

    .main .section.work-examples .list.work-list .img {
        display: block;
    }

    /* Команда*/
    .main .section.team {
        padding-top: 94px;
        padding-bottom: 94px;
        background-color: var(--secondary-accent-color);
    }

    .main .section.team .section-title {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .main .section.team .list.team-list {
        display: flex;
        justify-content: space-between;
    }

    /* фото членів команди*/
    .main .section.team .team-list .photo {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--primary-background-color);
    }

    .main .section.team .team-list .teammate-title {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /* заголовок команди*/
    .main .section.team .team-list .title {
        margin: 0;
        font-weight: var(--primary-font-weight);
        font-size: var(--primary-font-size);
        line-height: 1.19;
        text-align: center;
        color: #212121;
    }

    /* розташуваня фото Опис*/

    .main .section.team .team-list .description {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: var(--primary-font-size);
        line-height: 1.19;
        text-align: center;
       
    }


    /* Sotial links*/
        .teammate-soc-list {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 16px;
            margin-bottom: 30px;
            margin-right: 32px;
            margin-left: 32px;
        }
    
       
    
        .teammate-soc-item {
            width: 44px;
            height: 44px;
        }
    
        .taemmate-soc-link {
            width: 100%;
            height: 100%;
            background: var(--primary-background-color);
            fill:  #AFB1B8;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

                .taemmate-soc-link:hover ,.taemmate-soc-link:focus {
                    background-color: var(--primary-accent-color);
                    fill: var(--primary-background-color);
                }

        /* Clients*/

                .clients-list {
                    display: flex;
                    gap: 30px;
                }
        
                
        
                .clients-item {
                    width: calc((100% - 150px) /6);
                    height: 90px;
                }
        
                .clients-link {
                    width: 100%;
                    height: 100%;
                    border: 1px solid #AFB1B8;
                    border-radius: 4px ;
                    display: flex;
                    align-items: center;
                    justify-content: center
                    background: var(--primary-background-color);
                        fill: #AFB1B8;

                }

                                .clients-link:hover,.clients-link:focus {
                                    background-color: var(--primary-background-color);
                                        fill: var(--primary-accent-color);
                                        border-color: var(--primary-accent-color);
                                }

        
               
        
         
    /* FOOTER*/
    .page-footer {
        padding: 60px 0;
        background-color: var(--secondary-background-color);
    }

    .footer .link.logo {
        display: inline-block;
        margin-bottom: 20px;
        color: var(--secondary-text-color);
    }

    

    .footer .contacts .link-contact:hover {
        color: var(--primary-accent-color);
    }

    .item-adress{
        display: flex;
        margin-bottom: 9px;
        line-height: 1.71;
        color: var(--secondary-text-color);
        font-style: normal;
        text-decoration: none;
        line-height: 1.71;
        color: #ffffff;
      
    }

    .contacts {
        margin-top: 20px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 9px;
        list-style: none;

    }


    .link-contact-post {
        display: flex;
        text-decoration: none;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
    }
    .link-contact-telephone {
        text-decoration: none;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);

    }
    


_______________________________________________________________________________________
     /* 2 сторінка Portfolio */

        .header .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 80px;
            border-bottom: 1px solid #ececec;
        }

     /* Приклади проєктів*/
         .main .section.projects {
             padding-top: 94px;
             padding-bottom: 94px;
         }

                 /* Позицінування елементів */ .main .section.projects .list.filter {
                     display: flex;
                     justify-content: center;
                     margin-bottom: 50px;
                 }
        
                 .main .section.projects .list.filter .item:not(:last-child) {
                     margin-right: 8px;
                 }
        
                 .main .section.projects .list.projects-list {
                     display: flex;
                     flex-wrap: wrap;
                    
                 }
        
                 .main .section.projects .projects-list .item {
                     width: calc((100% - 60px) / 3);
                 }
                
        
                 /* Прибираю margin-right для 3 */
                 .main .section.projects .projects-list .item:not(:nth-child(3n)) {
                     margin-right: 30px;
                 }
        
                 /* Установіть margin-bottom для кожного елемента,
                крім трьох останніх */
                 .main .section.projects .projects-list .item:not(:nth-last-child(-n + 3)) {
                     margin-bottom: 30px;
                 }
        
                 /* Main Projects Project list img видаляє пролбіл */
                 .main .section.projects .projects-list .img {
                     display: block;
                 }
    
                 /* список проєктів */
                 .main .section.projects .projects-list .title-box {
                     padding: 20px 24px;
                     border-right: 1px solid #eeeeee;
                     border-bottom: 1px solid #eeeeee;
                     border-left: 1px solid #eeeeee;
                 }
        
                 .main .section.projects .projects-list .title {
                     margin-top: 0;
                     margin-bottom: 4px;
                     font-size: 18px;
                     line-height: 2;
                     letter-spacing: 0.06em;
                     color: var(--title-text-color);
                 }
        
                 
                 .main .section.projects .projects-list .description {
                     margin: 0;
                     font-size: var(--primary-font-size);
                     line-height: 1.88;
                 }



 